/*===== switcher =====*/
.switcher
{
float:left;
position:fixed;
top:25%;
z-index:9999;
}
.color-one
{
background:#fc9c24;
width:20px;
height:20px;
position:absolute;
}
.color-two
{
background:#87963c;
width:20px;
height:20px;
position:absolute;
}
.color-three
{
background:#a90329;
width:20px;
height:20px;
position:absolute;
}
.color-four
{
background:#ed5564;
width:20px;
height:20px;
position:absolute;
}
.color-five
{
background:#448aff;
width:20px;
height:20px;
position:absolute;
}
